.wrapper {
  @include outer-container(100%);
}

.main-card {
  @include span-columns(3);
  position: relative;
  min-height: 40vh;
  border: 1px solid black;
  @media screen and (max-width: 800px) {
    @include span-columns(5 of 12);
  }
  @media screen and (max-width: 600px) {
    @include span-columns(12 of 12);
  }

}
