.wrapper {
  @include outer-container(100%);
}

.main-card {
  @include span-columns(3);
  @extend %main-card;
  min-height: 43vh;
  color: white;



  @media screen and #{$break-medium} {
    @include span-columns(6 of 12);
    margin: 0;
  }
  @media screen and #{$break-small} {
    @include span-columns(12 of 12);
    margin: 0;
  }

}
.card-1 {
  @extend %background-format;
  &::after {
    @include background-img("../img/bottlenose.jpg");
  }
}
.card-2 {
  @extend %background-format;
  &::after {
    @include background-img("../img/center-dolphin.jpg");
  }
}
.card-3 {
  @extend %background-format;
  &::after {
    @include background-img("../img/dolphins-3.jpg");
  }
}
.card-4 {
  @extend %background-format;
  &::after {
    @include background-img("../img/boobies.jpg");
  }
}

@for $i from 1 through length($colors) {
  .card-#{$i} {
    background: transparentize((nth($colors, $i)), 0.5);
  }
}

[class*='inner-text-'] {
  background: transparentize($color-2-saturate, 0.3);
  padding: 5px;
  @extend %inner-txt-pos;

}
