%main-card {
  // padding: 10px;
  position: relative;

  // background-color: transparentize($color-2-saturate, 0.8);
}


%background-format {
  display: block;
  position: relative;
}

%inner-txt-pos {
  position: absolute;
  top: 20%;
  @media screen and #{$break-small} {
    top: 50%;
  }


}
