.main-header {

  // @include span-columns(12);
  background: transparentize($color1, 0.1);
  width: 100vw;
  @include clearfix;


}

.navbar {


  @include direction-context($direction: left-to-right) {
    &-left{
      margin-left: 10px;
      h1, h2 {
        @include span-columns(4);
        color: white;
      }
    }
  }
  @include direction-context($direction: right-to-left) {
    &-right{
      float: right;
      display: inline;
      margin-right: 10px;
      a{
        color: white;
        text-decoration: none;
        &:hover {
          color: $color4;
        }
      }

    }
  }


}
