[class*="button-"] {
  position: absolute;
  top: 75%;
  right: 25%;
  left: 25%;
  text-align: center;
  @media screen and #{$break-medium} {
    left: 30%;
  }
  @media screen and #{$break-small} {
    top: 80%;
    left: 35%;
  }
}

@for $i from 1 through length($colors) {
  .button-#{$i} {
    @include button((nth($colors, $i)));
  }

}
