[class*="button-"] {
  position: absolute;
  top: 75%;
  // left: 50%;
  right: 25%;
  left: 25%;
  @include button($color3);
  text-align: center;
  @media screen and #{$break-medium} {

    left: 30%;
  }
  @media screen and #{$break-small} {
    top: 80%;
    left: 30%;
  }


}
