* {
  margin: 0;
}

body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
h1 {
  color: $text-color-dark;
  font-size: 3em;
}

h2 {
  color: $text-color-light;
}
